body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(Assets/images/cart-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    border: 5px solid #ff3c78;
    padding: 3rem;
    border-radius: 2rem 0 2rem;
    backdrop-filter: blur(20px);
    
}


.submit{
  border: none;
  background-color: #ff3c78;
  padding: .7rem 0 .7rem 0;
  color: #fff;
  border-radius: .5rem;
}


.submit:hover{
    background-color: #fff;
    color: #ff3c78;
    border:1px solid #ff3c78;
    transition: .5s all;
    cursor: pointer;
}


.text-f{
    padding: .5rem 0 .5rem 0.3rem;
    border-radius: .5rem;
    border: 1px solid #6e6e6e;
}

a{
    text-decoration: none;
}




